#box1 {width: 20cm;
height: 15cm;
border:  5px solid red;

}
#box2 {
    width: 10cm;
    height: 8cm;
     border: 5px solid green;
     margin-top: 3cm;


}
#plane{
    align-items: center;
    
}
#box3{
width: 5cm;
height: 8cm;
border: 2px solid red;
margin-left: 12cm;
margin-top: -8cm;
margin-right: 2cm;


}
    

