body {
    background-color: rgb(222, 231, 239);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    margin: 15px;
    background-image: url(https://idsb.tmgrup.com.tr/ly/uploads/images/2024/04/09/thumbs/800x531/323101.jpg?v=1712662133);
    background-size: cover;
    
    color: black;
    margin-bottom: 80px;
}
h1 {
    text-align: 75%;
    color: rgb(86, 43, 203);
    font-size: 50px;
    margin-top: 30px;
    margin-left: 700px;
}

div {
    width: 40%;
    height: 220px;
    margin: 30px;
    background-color: rgb(169, 142, 142);
    border-width: 2px;
    padding: 15px;
    border-radius: 5%;
    margin-left: 150px;
    border-color: rgb(86, 43, 203);
    border-style: solid;
    
}