body {
    background-color: rgb(222, 231, 239);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: medium;
    margin: 15px;
    background-image: url(https://idsb.tmgrup.com.tr/ly/uploads/images/2024/04/09/thumbs/800x531/323101.jpg?v=1712662133);


    background-size: contain;
    background-attachment: scroll;








    color: black;
    margin-bottom: 80px;
}

header {
    color: white;
    width: 150px;
    height: 150px;

    padding: 10px;
    border-radius: 5%;
    margin-left: 750px;
    border-color: rgb(211, 205, 227);
    border-style: solid;
    position: absolute;
    margin-top: 96px;
    background-color: aquamarine;
    text-align: left;

}

h1 {
    text-align: 75%;
    color: rgb(86, 43, 203);
    font-size: 50px;
    margin-top: 10px;
    margin-left: 700px;
}

div {
    width: 40%;
    height: 220px;
    margin: 30px;
    background-color: rgb(169, 142, 142);
    border-width: 2px;
    padding: 15px;
    border-radius: 5%;
    margin-left: 150px;
    border-color: rgb(86, 43, 203);
    border-style: solid;

}

#to-see {
    height: 300px;



}

#hotel {
    width: 40%;
    height:fit-content;
    color: bblue;
    text-decoration: none;
}

#plane {
    width: 40%;
    height: fit-content;
    margin: 30px;
    background-color: rgb(169, 142, 142);
    border-width: 2px;
    padding: 15px;
    border-radius: 5%;
    margin-left: 150px;
    border-color: rgb(86, 43, 203);
    border-style: solid;
}

#transport {
    width: 40%;
    height: fit-content;
    margin: 30px;
    background-color: rgb(169, 142, 142);
    border-width: 2px;
    padding: 15px;
    border-radius: 5%;
    margin-left: 150px;
    border-color: rgb(86, 43, 203);
    border-style: solid;
}

a:link:visited {
    color: rgb(180, 129, 47);
    text-decoration: none;
}

a:hover {
    color: rgb(212, 223, 226);
    text-decoration: underline;
}

a.active {
    color: rgb(179, 203, 43);
    text-decoration: none;
}

footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 30%;
    background-color: rgb(169, 142, 142);
    color: black;
    text-align: center;
    padding: 10px;
    border-radius: 5%;
    border-style: solid;
    border-width: 2px;
    margin-left: 150px;
    border-color: blue;
}