header {
    background-color: rgb(122, 147, 169);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

title {
    color: rgb(136, 92, 92);
    font-family: Arial, Helvetica, sans-serif;

}

