body {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    background-color: rgb(200, 194, 235);
    font-family: cursive;
}

header {
    background-image: url(https://media.architecturaldigest.com/photos/5da74823d599ec0008227ea8/16:9/w_1920,c_limit/GettyImages-946087016.jpg);

    background-size: cover;
    display: inline-flex;
    justify-content: space-between;

    padding: 20px;
    position: relative;

    width: 70%;
    margin: 30px;
    margin-top: 40px;


    height: 350px;
    color: white;
    text-align: start;
    border-style: dotted;
    border-color: black;
    border-radius: 5%;
    border-width: 3px;
}

aside {
    background-color: rgb(243, 243, 130);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 100px;
    right: 25px;
    border-style: dotted;
    border-color: black;
    border-radius: 5%;
    border-width: 3px;
    width: 13%;
    



}






main {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-top: 100px;
    position: relative;
    width: 75%;
}


article {
    background-image: url(https://www.newyorkando.com/wp-content/uploads/sites/7/2023/08/Mapa-de-Nueva-York-Newyorkando-M-768x757.jpg);
    display: absolute;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: relative;
    margin-left: 3%;

    width: 95%;
    z-index: auto;
    height: fit-content;
    border-style: dotted;
    border-radius: 1%;


    border-color: black;
}

section {
    background-color: rgb(180, 191, 209);


    margin: 5%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 10%;
    align-items: center;
    padding: 20px;
    position: relative;
    top: 30px;
    
    width: 86%;
    z-index: auto;
    height: 350px;
    border-style: dotted;
    border-radius: 5%;


    border-color: black;
}
#dayone {
    height: 200px;
    
    
}
#daytwo {
    height: 800px;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/94/Empire_State_building_19.JPG);
    background-size: cover;
    color: white;
}

    
    
     
