
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.project-links {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #3498db;
    border: 1px solid #3498db;
    border-radius: 4px;
    text-align: center;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #3498db;
    color: #fff;
}