*{background-color: rgb(203, 203, 222);}
h1 {font: italic bold 24pt  fantasy; color: red; }
.box1{position: relative;
    margin-left: 25cm;

 margin-top: -10cm;
    
    padding: 5px;
    width: 2cm;
    height: 2cm;

border: 2px solid red;

}