* {
    background-color: rgb(203, 203, 222);
}

#header {
    font-family: courier;
    font-weight: bold;
    font-size: 1cm;
    color: rgb(82, 176, 82);
    margin-left: 4cm;

}
#intro{
    width: 20cm;
    height: 4cm;
    border: 2px solid red;
}