* {
    background-color: rgb(203, 203, 222);
}

#header {
    font-family: courier;
    font-weight: bold;
    font-size: 1cm;
    color: rgb(82, 176, 82);
    margin-left: 4cm;

}

#intro {
    width: 20cm;
    height: 4cm;
    border: 2px solid red;
}
#pplane{width: auto;
    height: 8cm;
    border: 2px solid red;
    margin-left: 22cm;
    margin-top: -4.1cm;
    margin-right: 2cm;
    display: flex;

}
#plane{text-align: center;
    font-family: fantasy;
    font-weight: bolder;
    margin-top: 3cm;
margin-left: 10px;}
