body{background-color: rgb(174, 174, 185);


}

.box1 {
    width: 18cm;
    height: 10cm;
    border: 5px solid red;
}

.box2 {
    width: 8cm;
    height: 5cm;
    border: 5px solid red;
    margin-left: 20cm;
    padding: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    margin-top: -10cm;
}