body{

    background-color: rgb(247, 228, 198) ;
    font-family: sans-serif;
    color: rgb(120, 197, 120);
}
h1{font-size: 3em;
    text-align: left;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;


}
aside{
    left: 0;
    position: absolute;
    top: 3em;
    height: auto;
    width: 11em;


}

section{
    position: absolute;
    top: 5em;
    bottom: 0;
    left: 11em;
    right: 0;
    overflow: hidden;
    

}
article{
    
    left: 15em;
    overflow: auto;
    margin: 15px;
    width: 100%;
    height: 100%;
    
    
    p{
        border: 2px solid red;
        margin: 10px;
        height: 9em;
        text-align: justify;
        padding: 10px;
        font-size: 1.5em;
        overflow: auto;
    width: 12em;
    float: left;
        
    }
    p::first-letter{float: left;
    font-size: 2em;}
    
    
    


}


   