body {
    background-color: aquamarine;
    margin: 10%;
    font-family: sans-serif;
    text-align: justify;



}

h1 {

    margin: 0;
    background-color: hwb(235 20% 70%);
    color: white;
    font-size: 4rem;
}

section#one {
    position: absolute;
    margin-top: 150px;
    top: 6rem;
    left: 10%;
    width: 35%;
    border-left: hwb(235 20% 70%) 2px solid;
    border-right: hwb(235 20% 70%) 2px solid;

    h2 {
        margin: 0 10px;
        background-color: hwb(235 20% 70%);
        color: white;
        font-size: 2rem;
        text-align: center;

    }

    article {
        display: block;
        unicode-bidi: isolate;
        border-radius: 10px;
        margin: 20px 40px;
        padding-bottom: 5px;
        background-color: white;

    }

    h4 {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        margin: 0;
        padding-left: 5px;
        background-color: hwb(125 15% 35%);
        color: white;
        font-size: 1.5rem;
    }

}



section#two {
    position: absolute;
    top: 6em;
    right: 10%;
    width: 35%;
    border-left: hwb(235 20% 70%) 2px solid;
    border-right: hwb(235 20% 70%) 2px solid;
    margin-top: 150px;
}





h2 {
    margin: 0 10px;
    background-color: hwb(235 20% 70%);
    color: white;
    font-size: 2rem;
    text-align: center;

}

article {
    display: block;
    unicode-bidi: isolate;
    border-radius: 10px;
    margin: 20px 40px;
    padding-bottom: 5px;
    background-color: white;

}

h4 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding-left: 5px;
    background-color: hwb(125 15% 35%);
    color: white;
    font-size: 1.5rem;
}

}