#ej1{font-family:  Tahoma; font-size: 22pt;}
.ej34{font-style: italic; color:  blue;}
#ej2{font-weight: bold;}
#ej4{text-transform: uppercase;}
.plane{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;text-decoration: underline;}
#ej6{letter-spacing: 12px;}
#ej7{word-spacing: 15px;}