
div{
    width: 800px;
    height: 500px;
    border: 2px solid red;
    margin-left: 10%;
    flex-direction: column;



}
image{
    top: -20;
    position: absolute;
    
}


p{
    font-size: 3em;
    margin-left:  10%;
    float: left;
    position: relative;
    
}
p:first-letter{
    float:left;
    font-size: 4em;
    
}
      