* {
    box-sizing: border-box;
    border: 3px solid red;


}

#g {

    height: 10cm;
    width: 25cm;
    display:flex;
    margin: 1cm;
}

#g1 {

    height: 50%;
    width: 30cm;

    margin: 1cm;
}

#g2 {

    height: 10cm;
    width: 15cm;

    margin: 1cm;
}

#g3 {

    height: 10cm;
    width: 15cm;

    margin: 1cm;
}