.main{
    font-size: 26px;
  font-family: georgia;
  background-position-x: right;
  color: #321f8cde;

}

p{
    font-family: courier;
  size: ;
  font-size: 90%;
  color: black;
}


.col1{
  background-color: aqua;
}
.col2{
  background-color:yellow;
}
.col3{background-color: red;}
.col4{background-color: orange;}
.col5{background-color: violet;}

